body {
    background-color: rgb(31, 28, 50) !important;
}

.content-container {
    margin-top: 3em;
}

.forecast-main {
    background-color: rgb(42, 38, 69) !important;
    height: 300px;
}

.forecast-card {
    background-color: rgb(176, 174, 192) !important;
    margin-top: 2em !important
}

.forecast-container {
    margin-top: 5em !important;
}

.placeholder {
    color: white !important;
}