body {
    background-color: rgb(31, 28, 50) !important;
}

.content-container {
    margin-top: 3em;
}

.forecast-card {
    background-color: rgb(213, 210, 235) !important;
    margin-bottom: 1em !important
}

.forecast-container {
    margin-top: 2em !important;
}

.placeholder {
    color: white !important;
}