body {
    background-color: rgb(31, 28, 50) !important;
}

.content-container {
    margin-top: 6em;
}

.forecast-today {
    background-color: rgb(42, 38, 69) !important;
}

.forecast {
    background-color: rgb(60, 55, 97) !important;
    color: white !important;
}

.forecast-container {
    margin-top: 5em !important;
}

.placeholder {
    color: white !important;
}